@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        /* Define background image and adjust properties */
        body {
            background-image: url('/images/background5.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: ghostwhite; /* Text color */
        }
    </style>
</head>
<body>
    <!-- Content with background image -->
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>to a Leave request application</p>
    </div>
</body>
</html>
