@model WebbappLabb1EF.Models.Leave

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Leave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LeaveId" />
            <div class="form-group">
                <label asp-for="TypeOfLeave" class="control-label"></label>
                <input asp-for="TypeOfLeave" class="form-control" />
                <span asp-validation-for="TypeOfLeave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                <a class="btn btn-warning btn-sm" asp-action="Index">
                    <i class="bi bi-backspace-fill"></i>  Back to List
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
